.recipes-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.most-popular-recipes-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0px 20px 20px 20px;
}

.recipes-search-bar-container{
    padding: 20px;
    width: 80%;
    align-self: center;
}

.popular-recipes-title, .recipes-row{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popular-recipes-title{
    flex-direction: column;
}

.popular-recipes-title p{
    color: black;
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 20px;
}

.popular-recipes-title h3{
    font-size: 38px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Posterama Bold';
    text-shadow: 1px 1px 1px black;
    font-style: italic;
}

.recipes-column{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(min-width:1200px){
    .recipes-container{
        margin-left: 85px;
        padding-bottom: 20px;
        height: 100vh;
    }

    .recipes-search-bar-container{
        width: 55%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        align-self: flex-start;
    }
}

@media(min-width:1600px){
    .recipes-row{
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}