.create-recipe-container{
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.create-recipe-container h1{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.post-card-form-card{
    width: 90%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.margin-bottom-30{
    margin-bottom: 30px;
}

.post-crud-buttons-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.post-crud-buttons-container button{
    width: 49%;
}

.new-recipe-image-container{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.new-recipe-image-container img{
    height: 300px;
    width: auto;
}

.new-recipe-status-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media(min-width:992px){
    .create-recipe-container{
        padding: 20px;
    }
    
    .create-recipe-container h1{
        font-size: 30px;
    }
    
    .post-card-form-card{
        width: 900px;
    }
    
    .new-recipe-image-container{
        display: unset;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media(min-width:1200px){
    .create-recipe-container{
        margin-left: 85px;
        height: 100vh;
    }
}