.home-page{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.home-first-container{
    width: 30%;
}

.home-first-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.home-first-container h1{
    font-size: 28px;
    font-weight: 700;
    color: #FBE6CE;
    text-align: center;
    font-family: 'Posterama Bold';
    margin-bottom: 30px;
    text-shadow: 2px 3px 2px black;
}

.home-first-container p{
    margin-top: 20px;
    font-size: 18px;
    color: #FBE6CE  ;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Posterama';
    text-shadow: 1px 1px 1px black;
}

.home-separator{
    width: 200px;
    height: 6px;
    background-color: #D68E39;
}

.home-second-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-second-container-logo img{
    height: 200px;
    margin-bottom: 30px;
}

.home-second-container-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-link-register{
    color: #E74A7D !important;
    font-weight: 700;
    margin-bottom: 10px;
}

.btn-home{
    height: 60px;
    width: 250px;
    font-weight: 700 !important;
    font-size: 20px !important;
    border-radius: 10px !important;
    text-shadow: 1px 1px 1px black !important;
}

@media(min-width:1200px){
    .home-page{
        margin-top: 0;
        align-items: center;
    }

    .home-container{
        height: 100vh;
        margin-left: 85px;
    }
    
    .home-first-container{
        width: 35%;
    }
    
    .home-first-container h1{
        font-size: 60px;
        margin-bottom: 50px;
        width: 900px;
    }
    
    .home-first-container p{
        font-size: 28px;
        margin-bottom: 50px;
    }

    .home-separator{
        width: 900px;
    }
    
    .home-second-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .home-second-container-logo img{
        height: 350px;
        margin-bottom: 50px;
    }
    
    .home-second-container-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .login-link-register{
        color: #E74A7D !important;
        font-weight: 700;
        margin-bottom: 10px;
    }
}

