@font-face {
  font-family: Instagram Sans;
  src: url('./assets/fonts/InstagramSans-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: Instagram Sans;
  src: url('./assets/fonts/InstagramSans-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Posterama;
  src: url('./assets/fonts/Posterama.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Posterama Bold;
  src: url('./assets/fonts/Posterama-Bold.ttf');
  font-weight: 400;
}

@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*, *::before, *::after{
  font-family: 'Instagram Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* títulos principais do projeto estão em negrito */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin-bottom: 0;
  text-decoration: none !important;
}

/* textos -> sem o sublinhado */
a, a:hover{
  text-decoration: none !important;
  color: unset !important;
}

ul {
  list-style-type: none; /* sem as bolinhas pretas no meio */
  margin: 0;
  padding: 0;
}

.base-card{
  
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, .25);
  background-color: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(15px);
}

/* TEXTBOX */
.base-input {
  border-radius: 30px;
  padding-left: 12px;
  font-size: 1em;
  letter-spacing: -0.015em;
  color: #263238;
  height: 40px;
  border: #9E9E9E 1px solid;
}


.base-input::placeholder {
  color: #9E9E9E;
}

.flex-direction-row{
  display: flex;
  flex-direction: column;
}

.modal-overlay{
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content{
  width: 90%;
  max-width: 500px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}

@media(min-width:1200px){
  .flex-direction-row{
    display: flex;
    flex-direction: row;
    height: 100%;
  }
}