.recipe-card-container{
    width: 300px;
    height: 300px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.25);
}

.recipe-card-container:hover{
    transform: scale(1.05);
    transition: 0.8s ease-out;
}

.recipe-card-content{
    background: linear-gradient(360deg, #0000009c 60%, #12121200 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
}

.recipe-card-first-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.recipe-card-first-container h4{
    font-size: 26px;
    font-weight: 700;
    flex-wrap: wrap;
    text-shadow: 1px 1px 1px black;
    color: white;
}

.recipe-card-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(360deg, #8e5e26 10%, #fbe6ceaf 100%);
    padding: 7px;
    border-radius: 100px;
    margin-bottom: 10px;
}

.recipe-card-buttons img{
    height: 30px;
}

.recipe-card-buttons img:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.recipe-card-buttons p{
    margin-bottom: 0;
    font-weight: 700;
    color: #fff;
}

.recipe-card-second-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.custom-toast {
    background-color: #fff; /* Cor de fundo do toast */
}
  
.custom-toast-body {
    display: flex;
    align-items: center;
}
  
.custom-toast-body::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('assets/images/star.png'); /* Caminho para a sua imagem personalizada */
    background-size: cover;
    margin-right: 10px;
}

.custom-toast-body-removed::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('assets/images/star-removed.png'); /* Caminho para a sua imagem personalizada */
    background-size: cover;
    margin-right: 10px;
}

.Toastify__toast-icon{
    display: none !important;
}

.Toastify__progress-bar--info{
    background-color: #FFDC64 !important;
}
